#main-nav.navbar.sticky-top {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0);
  transition: background-color 100ms, box-shadow 100ms;
}

#main-nav.navbar.sticky-top.top {
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
}

#main-nav.navbar-expand-lg .navbar-nav .nav-item>a {
  padding: .5rem;
  display: block;
}

.navbar-light .navbar-nav .nav-item a {
    color: rgba(0,0,0,.5);
}

.navbar-light .navbar-nav .nav-item:focus a, .navbar-light .navbar-nav .nav-item a:hover {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

#nav-search input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.05);
  transition: background-color 100ms, border-bottom-color 200ms;
}

#nav-search input[type="text"]:hover,
#nav-search input[type="text"]:focus {
  background-color: rgb(242,242,242);
  box-shadow: none;
}

#nav-search input[type="text"]:focus {
  border-bottom-color: rgba(0,0,0,.15);
}

#nav-search button[type="submit"] {
  background-color: transparent;
  border-color: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #495057;
  padding-left: 1rem;
  margin-left: -.25rem;
  transition: background-color 100ms;
}

#nav-search button[type="submit"]:hover {
  background-color: rgb(242,242,242);
}